@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;

}

#nav{
    padding: 0 50px;
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-prt2{
    /* background-color: blue; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

/* > sign means direct child::: nav>i{} */
#nav i{
    font-size: 25px;
    margin-right: 5px;
}

#nav h5{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 200;

}

#nav img{
    height: 200px;  
}

#line {
    width: 70px;
    height: 2px;
    background-color: red;
}

#content{
    /* background-color: blue; */
    width: 100%;
    /* using calc() to show bottom section without scroll bar with exact calculation of pixels */
    height: calc(100% - 140px);

    display: flex;
    justify-content: space-between;

    position: relative;

}

#left{
    width: 35%;
    height: 100%;
    /* background-color: red; */
    padding: 100px 40px;
}
#right{
    width: 35%;
    height: 100%;
    /* background-color: yellow; */
    padding-top:200px;
    padding-left: 138px;
}
#center{
    width: 30%;
    height: 100%;
    /* background-color: red; */
    padding-top:30px ;
}

#left h1{
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 30px;
}

#left h1 span{
    color:red;
    font-weight: 500;
}

#left p{
    margin-bottom: 30px;
    font-size: 14px;
    text-align: left;
    margin-top: 8px;
    width: 70%;
    line-height: 18px;
}

#left button{
    background-color: red;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}
#left button i {
    margin-right: 10px;
}

#left #b-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left .heart-icon{
    color:red;
    font-size: 50px;
    padding-right: 50px;
    margin-right: 100px;
}

#center-bg{
    background-color: purple;
    width: 100%;
    height: 95%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url("https://images.unsplash.com/photo-1576564081868-0fb07ce0b63c?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    /* background-position: 30% 50%; */
    filter:blur(2.5px)

}

#content>img{
    position: absolute;
    z-index: 99;
    height: 100%;
    left:50%;
    transform: translate(-50%,0);
    
}

#right-elems{
   /* background-color: red; */
    width: 350px;
}

#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 2px solid white;
    opacity: 0.6;
}

#elem1 h1{
    font-size: 24px;
    font-weight: 200;
}

#elem1 i{
    font-size: 24px;
}
#elem2 h1{
    font-size: 24px;
    font-weight: 200;
    padding-top: 15px;
    margin-bottom: 15px;
}

#elem2 p{
    font-size: 12px;
    width: 80%;
    text-align: justify;
    opacity: 0.6;
}
