@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;

}

#nav{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-prt2{
    background-color: blue;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

/* > sign means direct child */
#nav>i{
    font-size: 25px;
}

#nav h5{
    font-size: 15px;
    text-transform: capitalize;
    
}