@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;

}

#nav{
    padding: 0 50px;
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-prt2{
    /* background-color: blue; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

/* > sign means direct child::: nav>i{} */
#nav i{
    font-size: 25px;
    margin-right: 5px;
}

#nav h5{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 200;

}

#nav img{
    height: 200px;  
}

#line {
    width: 70px;
    height: 2px;
    background-color: red;
}

#content{
    /* background-color: blue; */
    width: 100%;
    /* using calc() to show bottom section without scroll bar with exact calculation of pixels */
    height: calc(100% - 140px);

    display: flex;

}

#left{
    width: 35%;
    height: 100%;
    /* background-color: red; */
    padding: 100px 40px;
}
#right{
    width: 35%;
    height: 100%;
    background-color: yellow;
}
#center{
    width: 30%;
    height: 100%;
    background-color: lightblue;
}

#left h1{
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 30px;
}

#left h1 span{
    color:red;
    font-weight: 500;
}

#left p{
    margin-bottom: 30px;
    font-size: 14px;
    text-align: left;
    margin-top: 8px;
    width: 70%;
    line-height: 18px;
}

#left button{
    background-color: red;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}
#left button i {
    margin-right: 10px;
}

#left #b-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left .heart-icon{
    color:red;
    font-size: 50px;
    padding-right: 50px;
    margin-right: 100px;
}